/* Web Fonts -------------------- */

@font-face {font-family: 'P22DearestScript';
  src: url('../fonts/34E577_0_0.eot');
  src: url('../fonts/34E577_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/34E577_0_0.woff2') format('woff2'),
       url('../fonts/34E577_0_0.woff') format('woff'),
       url('../fonts/34E577_0_0.ttf') format('truetype');
     }

@font-face {font-family: 'Garamold';
  src: url('../fonts/34E57F_0_0.eot');
  src: url('../fonts/34E57F_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/34E57F_0_0.woff2') format('woff2'),
       url('../fonts/34E57F_0_0.woff') format('woff'),
       url('../fonts/34E57F_0_0.ttf') format('truetype');
     }

/* Main Styles -------------------- */

  * {
    box-sizing: border-box;
  }

  body {
    color: #878787;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h1, h4 {
    font-family: 'Garamold', Helvetica, Arial, sans-serif;
    font-size: 5.625rem; /* 90px/16px  */
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin: 12px 0 0;
  }

  h5 {
    font-family: 'P22DearestScript', Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    line-height: .5vw;
    display: inline-block;
    font-size: 5vw; /*or whatever you want*/
    color: #ffa949;
    text-shadow: 2px 2px 10px black
  }

  h3 {
    font-size: 1.25em; /* 20px/16px  */
    color: #48525c;
    line-height: 1.2;
    margin-bottom: 1.7em; /* 34px */
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    height: auto;
    display: block;
  }

  nav{
    float: right;
    padding: 10px 0;
    margin: 20px 0 0;
  }

  nav ul {
    list-style: none;
    margin: 0px;
    padding: 0;
  }

  nav li {
  display: inline-block;
  }

  nav a {
    font-weight: 800;
    padding: 15px 10px;
  }

/* Classes -------------------- */


.P22Dearest,
.learnMoreH1,
.AthensH1 {
    font-family: 'P22DearestScript', Helvetica, Arial, sans-serif;
    font-size: 5.625rem;
    font-weight: 200;
    letter-spacing: 0.025em;
}

.P22Dearest {
      color: white;
      border-bottom: 2px solid;
}

.learnMoreH1,
.AthensH1 {
    color: #ffa949;
    text-transform: none;
    text-shadow: none;
    margin: 0 0 0 197px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
  width: 75%;
  padding-top: 25px;
  padding-bottom: 95px;padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.LearnMoreLink {
    font-family: 'P22DearestScript', Helvetica, Arial, sans-serif;
    font-size: 5.625rem;
    font-weight: 200;
    letter-spacing: 0.04em;
    border-bottom: 2px solid;
    text-align: center;
}
.main-footer {
  margin: 20px 0 0 0;
  padding-bottom: 60px;
  border-top: 2px solid #ffa949;
}

.LearnMoreContent {
  text-align: left;
}
.selected {
  border-bottom: 2px solid #ffa949;
  padding-bottom: 2px;
}

.sub-head {
  padding-top: 74px;
  margin-top: 10px;
  height: 100px;
}

/* Pseudo-classes ------------------ */

a:link { /*link color by default*/
  color: #638fb1;
  text-decoration: none;
}

a:visited { /*link color once visited*/
  color: #a6b7c3;
}

a:hover {
  color: #ffa949;
}

a:active {
  color: lightcoral;
}


/**Thumbnail Gallery Links on Home Page**/

.w3-container {
    position: relative;
    display: inline-block;
    width: 43%;
    margin: 16px 13px 0px 23px;
}

.gal-wrapper {
    margin: 0 0 0 0;
}

.text-box {
    position: absolute;
    height: 93%;
    text-align: center;
    width: 100%;
    border-radius: 4%;
}

.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;

}

.img-responsive {
  border-radius: 4%;
  background-size: cover;


}
.small {
   display: inline-block;
   font-size: 2.5vw;
   color: #FFF;
   text-shadow: 2px 2px 10px black
}

/**Header Images**/

.Athens-header{
  background: linear-gradient(14deg, #fff, 30%, transparent),
              url(../img/IMG_4634.jpg) no-repeat center;
  background-size: cover;
}

.learnMore-header{
  background: linear-gradient(14deg, #fff, 30%, transparent),
              url(../img/IMG_5775.jpg) no-repeat center;
  background-size: cover;
}
.main-header {
  padding-top: 74px;
  height: 630px;
  background: linear-gradient(14deg, #fff, transparent),
              url(../img/IMG_5775.jpg) no-repeat center;
  background-size: cover;
}
/* Flickity Carousel -------------------- */
    .carousel-cell {
      width: 100%; /* full width */
      height: 475px; /* height of carousel */
      margin: 35px 10px 0 0;
    }

    /* position dots in carousel */
    .flickity-page-dots {
      bottom: 0px;
    }
    /* white circles */
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: .3;
      background: transparent;
      border: 2px solid white;
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
      background: white;
      opacity: .3;
    }

    /* forward and backward arrows styling */
    .flickity-prev-next-button {
      outline: none;
      opacity: .4;
    }


/* Media Queries -------------------- */
@media screen and (max-width: 1100px) {

  nav {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    width: 100%;

  }

  .learnMoreH1,
  .AthensH1 {
      text-align: center;
      width: 100%;
      font-size: 70px;
      margin: 0;
  }

  .primary-content {
    width: 75%;
    padding-top: 75px;
    padding-bottom: 95px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 960px;
    font-size: 10px;
  }

  .LearnMoreLink {
    font-size: 60px;

  }
  
}

@media screen and (max-width: 414px) {
  nav {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    width: 100%;
  }

  .learnMoreH1,
  .AthensH1 {
      text-align: center;
      width: 100%;
      font-size: 50px;
      margin: 0;
  }

  .primary-content {
    width: 75%;
    padding-top: 60px;
    padding-bottom: 95px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 960px;
    font-size: 10px;
}


}
